booleanuk:
  app:
    jwtSecret: <JWT_SECRET>
    jwtExpirationMs: 3600000 # 1 hour

spring:
  datasource:
    url: jdbc:postgresql://<DATABASE_URL>:5432/<DATABASE_NAME>
    username: <DATABASE_USER>
    password: <DATABASE_PASSWORD>
    hikari:
      maximum-pool-size: 3

  jpa:
    show-sql: true
    defer-datasource-initialization: true # Make sure hibernate runs before loading the data.sql file
    hibernate:
      ddl-auto: create # Drop and create new database before and after running spring
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: always # Load initial data from the data.sql file


server:
  port: 4000
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: never
    include-exception: false
